* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Libre Franklin';
	font-weight: 200;
	font-size: 16px;
	line-height: 150%;
}

.page-body {
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 10%;
	margin-right: 10%;
}

.page-title {
	font-family: 'Open Sans';
	font-size: 32px;
	font-weight: bold;
	padding-bottom: 12px;
}

p {
	margin-bottom: 16px;
}

/*******************/
/***  HOME PAGE  ***/
/*******************/

.home-title {
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 48px;
	padding-left: 8px;
}

.main-body {
	display: flex;
	align-items: center;
	padding: 24px;
}

.left-side {
	margin: 0, auto;
	flex: 1 1 0;
}
.right-side {
	margin: 0 auto;
	padding-left: 16px;
	flex: 1 1 0;
}

.main-body > div > img {
	max-width: 100%;
	height:auto;
}

.main-body > div > p {
	padding-left:10px;
}

/*******************/
/***  PROJECTS   ***/
/*******************/

.project-row {
	display: block;
	clear:both;
	text-align: center;
}

.project-item {
	display: inline-block;
	width: 45%;
	margin:20px;
	background-color: #f6f5f0;
	box-shadow:10px 10px 10px grey;
}

/*Project Description*/
.project-item p {
	padding: 25px;
	padding-top:0px;
	text-align: left;
	background-color: white;

}

.project-item h3 {
	font-family: 'Open Sans';
	font-weight: bold;
	text-transform: uppercase;
	background-color: white;
	
}

/*********************/
/***  PHOTOGRAPHY  ***/
/*********************/

.photo-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;

}
.photo-row > div{
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin:auto;
}

.photo-row > div > img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  cursor:pointer;
}

/* Responsive layout - turns 4 columns into 3 columns then 2 columns */
@media screen and (max-width: 1100px) {
  .photo-row > div {
    flex: 30%;
    max-width: 30%;
  }
}
@media screen and (max-width: 850px) {
  .photo-row > div {
    flex: 50%;
    max-width: 50%;
  }
}

/*******************/
/****  VIDEOS   ****/
/*******************/

.video-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

}

.video-item {
	flex:50%;
	max-width: 50%;
	margin: 20px;
	text-align: center;
}

.video-item iframe {
	flex:50%;
	margin: 0 auto;
}
.video-item p {
	padding-top: 8px;
	letter-spacing: 3px;
}

/*Adding Responsiveness to video page*/
@media screen and (max-width: 1000px) {
  .video-container {
  	flex-direction: column;
  	justify-content: space-between;
  }
  .video-item {
  	flex:80%;
  }
  .video-item iframe {
  	width: 100%;
  	height: 100%;
  }
}

/*********************************/
/****  "BACK TO TOP" BUTTON   ****/
/*********************************/
.go-to-top {
    position: fixed;
    bottom: 56px;
    right: 48px;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px;
    margin: 0;
}

.go-to-top:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-decoration: none;
}

/***********************/
/****  GUEST BOOK   ****/
/***********************/

.guest-book-body {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/*align-items: ;*/
}
.guest-book-body > div {
	flex:50%;
	max-width: 50%;
	margin: 8px;
	text-align: center;
	padding: 0 24px;
}
.guest-book-body > div > h2 {
	text-align: left;
	padding: 0 0 12px 0;
}
/*Guest Form - Left Side*/
.guest-form {
	box-sizing: border-box;
	position: sticky;
}
.guest-form > form > p > label  {
	display:block;
	font-weight: 500;
	text-align: left;
	padding-bottom: 8px;
	
}
.guest-form > form > p {
	margin:0;
	padding-bottom: 16px;
}

form > p > button, form > p > input, form > p > textarea{
	width: 100%;
	padding:1em;
	border:1px solid #5f7782;
} 

.submit-button {
	background-color: #e3e4e0;
	text-transform: uppercase;
	font-weight: bolder;
	letter-spacing: 3px;
	cursor: pointer;
	padding: 0 16px;
}
.submit-button:hover {
	background-color: #d7d8d2;
}

/*Guest Book Display - Right Side*/
.guest-book-display > div > ul {
	list-style: none;
    overflow-y:scroll; 
    position:relative;
    height: 680px;
}
.guest-book-display > div > ul > li {
	text-align: left;
	padding: 8px;
	margin: 0 0 16px 0;
	background-color:#e3e4e0;
	color: #515151;
	box-shadow: 5px 5px 5px #d3d3d3;
}
.guest-book-display > div > ul > li > p {
	margin-bottom: 0px;
}
.guest-name {
	font-weight: bold;
	font-size: 20px;
}
.guest-bio {
	font-size: 14px;
	font-style: italic;
	padding-bottom: 8px;
}
.guest-timestamp {
	font-size: 12px;
	padding-top: 16px;
	color: #696969;
}

/**************************/
/****  MOVIE GALLERY   ****/
/**************************/

.movie-body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.movie-card {
	padding: 0 4px;
	cursor: pointer;
}
.movie-card > img:hover {
	opacity: 0.6;
}


/* Modal Content for Movies */

.active-movie {
	display:flex;
	align-items: center;
}
.active-movie div {
	padding: 8px;
	
}
.active-movie .movie-content {
	padding: 0 32px;
}
.movie-content .title {
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0;
}
.movie-content .director {
	font-style: italic;
	font-size: 15px;
}
.movie-content .imdb-rating {
	font-weight: bolder;
}
.active-movie > .close {
	cursor: pointer;
	position: absolute;
	display: block;
	padding: 2px 5px;
	line-height: 20px;
	right: -10px;
	top: -10px;
	font-size: 24px;
	background: #ffffff;
	border-radius: 18px;
	border: 1px solid #cfcece;
}

.modal-popup{
	overflow: hidden;
}